body {
    height: 6000px;
}
.box {
    width: 150px;
    height: 150px;
    background: blueviolet;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50, -50);
}
p {
    background: red;
    position: absolute;
    margin: 0;
    bottom: 20px;
}
.fixed {
    width: 150px;
    height: 150px;
    background: green;
    position: fixed;
    z-index: 2;
}
.sticky {
    width: 100px;
    height: 100px;
    background: blue;
    position: sticky;
    top: 0px;
    z-index: 1;
}